<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <header>
        <h1>Welcome to Jinja Test</h1>
    </header>

    <main>
        <h2>Author: {{ author_name }} </h2>
        <h3>Time: {{ curr_date }} </h3>
        <img src="{{ test_img }}" alt="ERROR" />

    </main>

    <footer>
        <p>Footer content here.</p>
    </footer>
</body>
</html>