body {
    font-family: sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

h1 {
    text-align: center;
    color: #bb86fc;
}

.container {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #bb86fc;
}
